@import "tailwindcss";

@theme {
  --color-text: var(--text);
  --color-stroke: var(--stroke);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-highlight: var(--highlight);

  --font-inter: var(--font-inter);
}

@layer base {
  :root {
    --text: #000000;
    --stroke: rgba(0, 0, 0, 0.5);
    --surface: rgba(0, 0, 0, 0.1);
    --surface-hover: rgba(0, 0, 0, 0.05);
    --highlight: rgba(0, 0, 0, 0.2);
  }
  .dark {
    --text: #ffffff;
    --stroke: rgba(255, 255, 255, 0.5);
    --surface: rgba(255, 255, 255, 0.1);
    --surface-hover: rgba(255, 255, 255, 0.05);
    --highlight: rgba(255, 255, 255, 0.2);
  }
}

@layer components {
  .text-medium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .text-regular {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

body {
  font-family: Inter, sans-serif;
}

@layer base {
}
